attrs
certifi
chardet
click
coverage
Flask
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
py
pyparsing
pytest
pytest-cov
requests
toml
typing-extensions
urllib3
Werkzeug
zipp
