# Server side exclusions
/server/node_modules

# Cliend side exclutions
/client/env
/client/__pycache__
/client/.pytest_cache
/client/.coverage
/client/app/__pycache__

.DS_Store
theme/
.pytest_cache
**/.terraform
**/__pycache__/